<p id="notice"><%= notice %></p>

<h1>Listing Test Email Modals</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_email_modals.each do |test_email_modal| %>
      <tr>
        <td><%= test_email_modal.title %></td>
        <td><%= test_email_modal.content %></td>
        <td><%= test_email_modal.slug %></td>
        <td><%= link_to 'Show', test_email_modal %></td>
        <td><%= link_to 'Edit', edit_test_email_modal_path(test_email_modal) %></td>
        <td><%= link_to 'Destroy', test_email_modal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test email modal', new_test_email_modal_path %>
